body {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}

a {
    color: #7565A3;
}

a:link {
    color: #7565A3;
}

a:visited {
    color: #8786df;
}

.btn-purple {
  background-color: hsl(299, 29%, 29%) !important;
  background-repeat: repeat-x;
  background-image: linear-gradient(#8e83e4, #6258a7);
  border-color: #5e345f #5e345f hsl(299, 29%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75ex 2ex 0.5ex;
}

.btn-orange {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #eee !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight: bold;
}

.white {
  color: #fff
}

.tagline {
  color: #8786df;
  font-size: 2em;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding-top: 0;
}

.nav > li > a {
  padding-right: 10px;
  padding-left: 10px;
}

.top-branding {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 10px;
}

.social {
  font-size: 0.90em;
}

section {
  line-height: 1.6;
  clear: both;
  overflow: hidden;
  display: block;
}

section h2 {
  clear: both;
  background-color: #8786df;
  color: #fff;
  padding: 0.5em;
}
