* {
  font-family: 'Overpass', sans-serif;
}

.btn-custom {
  background-color: hsl(299, 29%, 29%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e83e4", endColorstr="#6258a7");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8e83e4), to(#6258a7));
  background-image: -moz-linear-gradient(top, #8e83e4, #6258a7);
  background-image: -ms-linear-gradient(top, #8e83e4, #6258a7);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e83e4), color-stop(100%, #6258a7));
  background-image: -webkit-linear-gradient(top, #8e83e4, #);
  background-image: -o-linear-gradient(top, #8e83e4, #6258a7);
  background-image: linear-gradient(#8e83e4, #6258a7);
  border-color: #5e345f #5e345f hsl(299, 29%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
  -webkit-font-smoothing: antialiased;
  font-size: 150%;
}

.white {
  color: #fff
}

.purple {
  color: #8786df
}

.navbar {
  padding: 0px;
}

.nav > li > a {
  padding-right: 10px;
  padding-left: 10px;
}

.top-branding {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 10px;
}

.social {
  font-size: 1.5em;
}

@media (max-width: 991px) {
    .top-branding {
      left: 60%;
    }
	}
