RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.devconf.cz [NC]
RewriteRule ^(.*)$ https://devconf.cz/$1 [L,R=301,NC]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
